<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Do you care?</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    <script src="js/lamb/script.js"></script>
    <script src="js/lamb/three.js"></script>
    <script src="js/lamb/Detector.js"></script>
    <script src="js/lamb/OrbitControls.js"></script>
    <script src="js/lamb/OBJLoader.js"></script>
    <script src="js/lamb/MTLLoader.js"></script>
    <script src="js/lamb/quiz.js"></script>
    <script src="js/lamb/render3d.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  </head>
  <body>
     <div id="main-body">
        <div id="tite">Lamb!</div>
        <div id="toggle-menu">        
          <div id="menu">
            <div id="quiz" onclick="clickHandler(this.id); "><div id="TakeQuizText">Take the quiz!</div></div>
            <div id="facts" onclick="clickHandler(this.id);"><div id="GetFactsText">Get some facts!</div></div>
          </div>
          <div id="render"></div>
        </div>
        <div id="toggle-quiz">
              <div id="quiz-spacer"></div>
              <div id="Question-1">
                <div id="question-list-div">
                  <h2>How many times a week do you eat lamb?</h2>
                  <ul>
                    <li><a onclick="submitReply('Question-1',innerHTML);">0</a></li>
                    <li><a onclick="submitReply('Question-1',innerHTML);">1</a></li>
                    <li><a onclick="submitReply('Question-1',innerHTML);">3</a></li>
                    <li><a onclick="submitReply('Question-1',innerHTML);">5</a></li>
                    <li><a onclick="submitReply('Question-1',innerHTML);">more</a></li>
                  </ul>
                </div>
              </div>
              <div id="Question-2">
                  <h2>How many lambs are killed every week?</h2>
                  <ul>
                      <li><a onclick="submitReply('Question-2',innerHTML);">3.5 Million</a></li>
                      <li><a onclick="submitReply('Question-2',innerHTML);">7 Million</a></li>
                      <li><a onclick="submitReply('Question-2',innerHTML);">10 Million</a></li>
                      <li><a onclick="submitReply('Question-2',innerHTML);">15 Million</a></li>
                    </ul>
                </div>
                <div id="Question-3">
                    <h2>How long does a lamb live for before reaching slaughter date? 
                      <ul>
                       <li><a onclick="submitReply('Question-3',innerHTML);">4 months</a></li>
                       <li><a onclick="submitReply('Question-3',innerHTML);">7 months</a></li>
                       <li><a onclick="submitReply('Question-3',innerHTML);">11 months</a></li>
                       <li><a onclick="submitReply('Question-3',innerHTML);">16 months</a></li>
                      </ul>
                  </div>
                  <div id="Question-4">
                      <h2>How much water is required to produce 1kg of lamb?</h2>
                      <ul>
                          <li><a onclick="submitReply('Question-4',innerHTML);">2000 liters.</a></li>
                          <li><a onclick="submitReply('Question-4',innerHTML);">5500 liters.</a></li>
                          <li><a onclick="submitReply('Question-4',innerHTML);">10500 liters.</a></li>
                          <li><a onclick="submitReply('Question-4',innerHTML);">15700 liters.</a></li>
                        </ul>
                    </div>
                    <div id="Question-5">
                        <h2> For how long would you have to drive to produce the same carbon 
                            footprint as producing 1kg of lamb?                              
                        </h2>
                        <ul>
                            <li><a onclick="submitReply('Question-5',innerHTML);">25km</a></li>
                            <li><a onclick="submitReply('Question-5',innerHTML);">60m</a></li>
                            <li><a onclick="submitReply('Question-5',innerHTML);">100km</a></li>
                            <li><a onclick="submitReply('Question-5',innerHTML);">145km</a></li>
                         </ul>
                    </div>
                    <div id="Question-6">
                      <h2>Which product has a bigger carbon footprint?
                        </h2>
                      <ul>
                          <li><a onclick="submitReply('Question-6',innerHTML);">1kg of pork</a></li>
                          <li><a onclick="submitReply('Question-6',innerHTML);">1kg of lamb</a></li>
                       </ul>
                  </div>
                  <div id="Question-7">
                    <h2>Which meal has a bigger carbon footprint? </h2>
                    <ul>
                        <li><a onclick="submitReply('Question-7',innerHTML);">Beef curry</a></li>
                        <li><a onclick="submitReply('Question-7',innerHTML);">Lamb curry</a></li>
                     </ul>
                </div>
                <div id="Question-8">
                  <h2>Which meal has a bigger carbon footprint?</h2>
                  <ul>
                      <li><a onclick="submitReply('Question-8',innerHTML);">Beef curry</a></li>
                      <li><a onclick="submitReply('Question-8',innerHTML);">Lamb curry</a></li>
                   </ul>
              </div>

                    <div id="Give_Score">
                      <h2>Verdict: <span id="myScore"></span></h2>
                      <h3>How many lambs are killed every week? <answer>7 Million</answer></h3>
                      <h3>How long does a lamb live for before reaching slaughter date? <answer>7 months</answer></h3>
                      <h3>How much water is required to produce 1kg of lamb? <answer>10500 liters</answer></h3>
                      <h3>For how long would you have to drive to produce the same amount of carbon 
                          footprint as producing 1kg of lamb?<answer> 145km</answer></h3>
                      <h3>Which product has a bigger carbon footprint? <answer>1kg of lamb</answer></h3>
                      <h3>Which meal has a bigger carbon footprint?<answer> Beef curry</answer></h3>
                    </div>


          <div id="bottomRight">
            <button id="backToMenuFromQuiz" onclick="clickHandler(this.id);">Go Back</button>
          </div>
        </div>

        <div id="toggle-facts">
          <!-- <h1>Lamb facts!</h1> -->
          <div id="facts-body"> 
            <h3>Carbon footprint : <div id="highlight">To make one kilogram of lamb we produce 39.2kg of Co2</div></h3>
            
            <h3>That is equivalent with driving for: <div id="highlight">146 km</div></h3>
          
            <h3>Emission ranking:<div id="highlight">Did you know that lamb scores first at the 
              lifecycle greenhouse gas emissions charts.
            </div></h3>
           
              

            </div>
          <div id="bottomRight">
            <button id="backToMenu" onclick="clickHandler(this.id);">Go Back</button>
          </div>
        </div>


     </div>

  </body>
</html>


