<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Do you care?</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    <script src="js/pig/script.js"></script>
    <script src="js/pig/three.js"></script>
    <script src="js/pig/Detector.js"></script>
    <script src="js/pig/OrbitControls.js"></script>
    <script src="js/pig/OBJLoader.js"></script>
    <script src="js/pig/MTLLoader.js"></script>
    <script src="js/pig/quiz.js"></script>
    <script src="js/pig/render3d.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  </head>
  <body>
     <div id="main-body">
        <div id="tite">Pig!</div>
        <div id="toggle-menu">        
          <div id="menu">
            <div id="quiz" onclick="clickHandler(this.id); "><div id="TakeQuizText">Take the quiz!</div></div>
            <div id="facts" onclick="clickHandler(this.id);"><div id="GetFactsText">Get some facts!</div></div>
          </div>
          <div id="render"></div>
        </div>
        <div id="toggle-quiz">
              <div id="quiz-spacer"></div>
                <div id="Question-1">
                  <div id="question-list-div">
                    <h2>How many times a week do you eat pork?</h2>
                    <ul>
                      <li><a onclick="submitReply('Question-1',innerHTML);">0</a></li>
                      <li><a onclick="submitReply('Question-1',innerHTML);">1</a></li>
                      <li><a onclick="submitReply('Question-1',innerHTML);">3</a></li>
                      <li><a onclick="submitReply('Question-1',innerHTML);">5</a></li>
                      <li><a onclick="submitReply('Question-1',innerHTML);">more</a></li>
                    </ul>
                  </div>
                </div>
                <div id="Question-2">
                    <h2>How many pigs are killed every week?</h2>
                    <ul>
                        <li><a onclick="submitReply('Question-2',innerHTML);">7 Million</a></li>
                        <li><a onclick="submitReply('Question-2',innerHTML);">12 Million</a></li>
                        <li><a onclick="submitReply('Question-2',innerHTML);">23 Million</a></li>
                        <li><a onclick="submitReply('Question-2',innerHTML);">30 Million</a></li>
                      </ul>
                  </div>
                  <div id="Question-3">
                      <h2>How long does a piglet live for before reaching slaughter date? 
                         <ul>
                          <li><a onclick="submitReply('Question-3',innerHTML);">1 month</a></li>
                          <li><a onclick="submitReply('Question-3',innerHTML);">3 months</a></li>
                          <li><a onclick="submitReply('Question-3',innerHTML);">6 months</a></li>
                          <li><a onclick="submitReply('Question-3',innerHTML);">1 year</a></li>
                        </ul>
                    </div>
                    <div id="Question-4">
                        <h2>How much water is required to produce 1kg of pork?</h2>
                        <ul>
                            <li><a onclick="submitReply('Question-4',innerHTML);">1000 liters.</a></li>
                            <li><a onclick="submitReply('Question-4',innerHTML);">3000 liters.</a></li>
                            <li><a onclick="submitReply('Question-4',innerHTML);">6000 liters.</a></li>
                            <li><a onclick="submitReply('Question-4',innerHTML);">9000 liters.</a></li>
                          </ul>
                      </div>
                      <div id="Question-5">
                          <h2> For how long would you have to drive to produce the same amount of carbon 
                              footprint as producing 1kg of pork?                              
                          </h2>
                          <ul>
                              <li><a onclick="submitReply('Question-5',innerHTML);">5km</a></li>
                              <li><a onclick="submitReply('Question-5',innerHTML);">15km</a></li>
                              <li><a onclick="submitReply('Question-5',innerHTML);">25km</a></li>
                              <li><a onclick="submitReply('Question-5',innerHTML);">45km</a></li>
                           </ul>
                      </div>
                      <div id="Question-6">
                        <h2>Which product has a bigger carbon footprint?
                          </h2>
                        <ul>
                            <li><a onclick="submitReply('Question-6',innerHTML);">1kg of pork?</a></li>
                            <li><a onclick="submitReply('Question-6',innerHTML);">1kg of lamb?</a></li>
                         </ul>
                    </div>
                    <div id="Question-7">
                      <h2>Which meal has a bigger carbon footprint? </h2>
                      <ul>
                          <li><a onclick="submitReply('Question-7',innerHTML);">Pork Buritto</a></li>
                          <li><a onclick="submitReply('Question-7',innerHTML);">Lamb curry</a></li>
                       </ul>
                  </div>
                  <div id="Question-8">
                    <h2>Which meal has a bigger carbon footprint?</h2>
                    <ul>
                        <li><a onclick="submitReply('Question-8',innerHTML);">Chicken tikka masala</a></li>
                        <li><a onclick="submitReply('Question-8',innerHTML);">Lamb curry</a></li>
                     </ul>
                </div>

                      <div id="Give_Score">
                        <h2>Verdict: <span id="myScore"></span></h2>
                        <h3>How many pigs are killed every week? <answer>23 Million</answer></h3>
                        <h3>How long does a piglet live for before reaching slaughter date? <answer> 3 months</answer></h3>
                        <h3>How much water is required to produce 1kg of chicken? <answer>6000 liters</answer></h3>
                        <h3>For how long would you have to drive to produce the same amount of carbon 
                            footprint as producing 1kg of chicken?<answer> 45km</answer></h3>
                        <h3>Which product has a bigger carbon footprint? <answer>1kg of lamb</answer></h3>
                        <h3>Which meal has a bigger carbon footprint?<answer> Lamb cury</answer></h3>
                      </div>


          <div id="bottomRight">
            <button id="backToMenuFromQuiz" onclick="clickHandler(this.id);">Go Back</button>
          </div>
        </div>

        <div id="toggle-facts">
          <!-- <h1>Pig facts!</h1> -->
          <div id="facts-body"> 
            <h3>Carbon footprint : <div id="highlight">To make one kilogram of pork we produce 12.1 kg of Co2.</div></h3>
            <h3>That is equivalent with driving for: <div id="highlight">45km</div></h3>
            
            <h3>GMO : <div id="highlight">Almost all of the pigs in the USA eat genetically modified 
              seeds.</div></h3>
            
            <h3>Lifetime<div id="highlight">Pigs are highly intelligent animals and outperform dogs in IQ tests. 
            Nevertheless many of them are kept and fed in cages where they cant move. 
            </div></h3>

            <h3>Did you know?<div id="highlight">Pig waste is similar to human waste; Filled with bacteria and 
              high amounts of ammonia. Pig waste is often kept in huge pools near the farm and often, although 
              illegal, sprayed into the air to get rid of it.

            </div></h3>
              

            </div>
          <div id="bottomRight">
            <button id="backToMenu" onclick="clickHandler(this.id);">Go Back</button>
          </div>
        </div>


     </div>

  </body>
</html>


