<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Do you care?</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    <script src="js/cheese/script.js"></script>
    <script src="js/cheese/three.js"></script>
    <script src="js/cheese/Detector.js"></script>
    <script src="js/cheese/OrbitControls.js"></script>
    <script src="js/cheese/OBJLoader.js"></script>
    <script src="js/cheese/MTLLoader.js"></script>
    <script src="js/cheese/quiz.js"></script>
    <script src="js/cheese/render3d.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  </head>
  <body>
     <div id="main-body">
        <div id="tite">Cheese!</div>
        <div id="toggle-menu">        
          <div id="menu">
            <div id="quiz" onclick="clickHandler(this.id); "><div id="TakeQuizText">Take the quiz!</div></div>
            <div id="facts" onclick="clickHandler(this.id);"><div id="GetFactsText">Get some facts!</div></div>
          </div>
          <div id="render"></div>
        </div>
        <div id="toggle-quiz">
              <div id="quiz-spacer"></div>
              <div id="Question-1">
                <div id="question-list-div">
                  <h2>How many times a week do you eat cheese?</h2>
                  <ul>
                    <li><a onclick="submitReply('Question-1',innerHTML);">0</a></li>
                    <li><a onclick="submitReply('Question-1',innerHTML);">1</a></li>
                    <li><a onclick="submitReply('Question-1',innerHTML);">3</a></li>
                    <li><a onclick="submitReply('Question-1',innerHTML);">5</a></li>
                    <li><a onclick="submitReply('Question-1',innerHTML);">more</a></li>
                  </ul>
                </div>
              </div>
                  <div id="Question-4">
                      <h2>How much water is required to produce 1kg of cheese</h2>
                      <ul>
                          <li><a onclick="submitReply('Question-4',innerHTML);">700 liters.</a></li>
                          <li><a onclick="submitReply('Question-4',innerHTML);">1500 liters.</a></li>
                          <li><a onclick="submitReply('Question-4',innerHTML);">3000 liters.</a></li>
                          <li><a onclick="submitReply('Question-4',innerHTML);">4300 liters.</a></li>
                        </ul>
                    </div>
                    <div id="Question-5">
                        <h2> For how long would you have to drive to produce the same amount of carbon 
                            footprint as producing 1kg of cheese?                              
                        </h2>
                        <ul>
                            <li><a onclick="submitReply('Question-5',innerHTML);">15km</a></li>
                            <li><a onclick="submitReply('Question-5',innerHTML);">25km</a></li>
                            <li><a onclick="submitReply('Question-5',innerHTML);">50km</a></li>
                            <li><a onclick="submitReply('Question-5',innerHTML);">75km</a></li>
                         </ul>
                    </div>
                    <div id="Question-6">
                      <h2>Which product has a bigger carbon footprint?
                        </h2>
                      <ul>
                          <li><a onclick="submitReply('Question-6',innerHTML);">1kg of chicken</a></li>
                          <li><a onclick="submitReply('Question-6',innerHTML);">1kg of cheese</a></li>
                       </ul>
                  </div>
                  <div id="Question-7">
                    <h2>Which meal has a bigger carbon footprint? </h2>
                    <ul>
                        <li><a onclick="submitReply('Question-7',innerHTML);">Omelet (Veg & Cheese)</a></li>
                        <li><a onclick="submitReply('Question-7',innerHTML);">Lamb curry</a></li>
                     </ul>
                </div>
            

                    <div id="Give_Score">
                      <h2>Verdict: <span id="myScore"></span></h2>
                      <h3>How much water is required to produce 1kg of chicken? <answer>3000 liters</answer></h3>
                      <h3>For how long would you have to drive to produce the same amount of carbon 
                          footprint as producing 1kg of cheese?<answer> 50km</answer></h3>
                      <h3>Which product has a bigger carbon footprint? <answer>1kg of cheese</answer></h3>
                      <h3>Which meal has a bigger carbon footprint?<answer> Lamb cury</answer></h3>
                    </div>


          <div id="bottomRight">
            <button id="backToMenuFromQuiz" onclick="clickHandler(this.id);">Go Back</button>
          </div>
        </div>

        <div id="toggle-facts">
          <!-- <h1>Cheese facts!</h1> -->
          <div id="facts-body"> 
            <h3>Carbon footprint : <div id="highlight">To make one kilogram of cheese we produce 13.5 kg of Co2</div></h3>
            <h3>That is equivalent with driving for: <div id="highlight">50 km</div></h3>

            <h3>Production<div id="highlight">Did you know that 1 kg of cheese requires up to 10 kg of milk?</div></h3>
            
            <h3>Emissions<div id="highlight">Cheese scores higher in greenhouse gas emissions than pork, salmon,
              turkey and chicken.  </div></h3>

            
              

            </div>
          <div id="bottomRight">
            <button id="backToMenu" onclick="clickHandler(this.id);">Go Back</button>
          </div>
        </div>


     </div>

  </body>
</html>


