<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Do you care?</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    <script src="js/chicken/script.js"></script>
    <script src="js/chicken/three.js"></script>
    <script src="js/chicken/Detector.js"></script>
    <script src="js/chicken/OrbitControls.js"></script>
    <script src="js/chicken/OBJLoader.js"></script>
    <script src="js/chicken/MTLLoader.js"></script>
    <script src="js/chicken/quiz.js"></script>
    <script src="js/chicken/render3d.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  </head>
  <body>
     <div id="main-body">
        <div id="tite">Chicken!</div>
        <div id="toggle-menu">        
          <div id="menu">
            <div id="quiz" onclick="clickHandler(this.id); "><div id="TakeQuizText">Take the quiz!</div></div>
            <div id="facts" onclick="clickHandler(this.id);"><div id="GetFactsText">Get some facts!</div></div>
          </div>
          <div id="render"></div>
        </div>
        <div id="toggle-quiz">
              <div id="quiz-spacer"></div>
                <div id="Question-1">
                  <div id="question-list-div">
                    <h2>How many times times a week do you eat chicken?</h2>
                    <ul>
                      <li><a onclick="submitReply('Question-1',innerHTML);">0</a></li>
                      <li><a onclick="submitReply('Question-1',innerHTML);">1</a></li>
                      <li><a onclick="submitReply('Question-1',innerHTML);">3</a></li>
                      <li><a onclick="submitReply('Question-1',innerHTML);">5</a></li>
                      <li><a onclick="submitReply('Question-1',innerHTML);">more</a></li>
                    </ul>
                  </div>
                </div>
                <div id="Question-2">
                    <h2>Which meal has a smaller carbon footprint?</h2>
                    <ul>
                        <li><a onclick="submitReply('Question-2',innerHTML);">Chichen Tikka Masala</a></li>
                        <li><a onclick="submitReply('Question-2',innerHTML);">Lamb Curry</a></li>
                      </ul>
                  </div>
                  <div id="Question-3">
                      <h2>How much water do you think is required to produce 1kg of chicken.</h2>
                      <ul>
                         <li><a onclick="submitReply('Question-3',innerHTML);">130 liters.</a></li>
                         <li><a onclick="submitReply('Question-3',innerHTML);">1300 liters.</a></li>
                         <li><a onclick="submitReply('Question-3',innerHTML);">2500 liters.</a></li>
                         <li><a onclick="submitReply('Question-3',innerHTML);">4300 liters.</a></li>
                        </ul>
                    </div>
                    <div id="Question-4">
                        <h2>How many chickens do you think are killed each day globally? </h2>
                        <ul>
                            <li><a onclick="submitReply('Question-4',innerHTML);">200 thousand.</a></li>
                            <li><a onclick="submitReply('Question-4',innerHTML);">1 million.</a></li>
                            <li><a onclick="submitReply('Question-4',innerHTML);">10 million.</a></li>
                            <li><a onclick="submitReply('Question-4',innerHTML);">130 million.</a></li>
                          </ul>
                      </div>
                      <div id="Question-5">
                          <h2>Which of the following products has a bigger greenhouse emission footprint?
                            <br><h3>1 kg of chicken or 1kg of cheese?</h3>
                          </h2>
                          <ul>
                              <li><a onclick="submitReply('Question-5',innerHTML);">Chicken</a></li>
                              <li><a onclick="submitReply('Question-5',innerHTML);">Cheese</a></li>
                           </ul>
                      </div>
                      <div id="Question-6">
                        <h2>Question6 </h2>
                        <ul>
                            <li><a onclick="submitReply('Question-6',innerHTML);">0</a></li>
                            <li><a onclick="submitReply('Question-6',innerHTML);">1</a></li>
                            <li><a onclick="submitReply('Question-6',innerHTML);">3</a></li>
                            <li><a onclick="submitReply('Question-6',innerHTML);">5</a></li>
                            <li><a onclick="submitReply('Question-6',innerHTML);">more</a></li>
                         </ul>
                    </div>
                    <div id="Question-7">
                      <h2>Question7 </h2>
                      <ul>
                          <li><a onclick="submitReply('Question-7',innerHTML);">0</a></li>
                          <li><a onclick="submitReply('Question-7',innerHTML);">1</a></li>
                          <li><a onclick="submitReply('Question-7',innerHTML);">3</a></li>
                          <li><a onclick="submitReply('Question-7',innerHTML);">5</a></li>
                          <li><a onclick="submitReply('Question-7',innerHTML);" >more</a></li>
                       </ul>
                  </div>
                  <div id="Question-8">
                    <h2>Question8 </h2>
                    <ul>
                        <li><a onclick="submitReply('Question-8',innerHTML);">0</a></li>
                        <li><a onclick="submitReply('Question-8',innerHTML);">1</a></li>
                        <li><a onclick="submitReply('Question-8',innerHTML);">3</a></li>
                        <li><a onclick="submitReply('Question-8',innerHTML);">5</a></li>
                        <li><a onclick="submitReply('Question-8',innerHTML);">more</a></li>
                     </ul>
                </div>

                      <div id="Give_Score">
                        <h2>Verdict: <span id="myScore"></span></h2>
                      </div>
                   


          <div id="bottomRight">
            <button id="backToMenuFromQuiz" onclick="clickHandler(this.id);">Go Back</button>
          </div>
        </div>

        <div id="toggle-facts">
          <!-- <h1>Chicken facts!</h1> -->
          <div id="facts-body"> 
            <h3>Carbon footprint : <div id="highlight">To make one kilogram of chicken we produce 6.9kg of Co2.</div></h3>
            <h3>That is equivalent with driving for: <div id="highlight">25km</div></h3>

            <h3>Selective breeding<div id="highlight">Chickens now weight 4 times what they used to in the 1950's. 
              In many cases they cannot lift their own weight.</div></h3>
            
            <h3>Did you know?<div id="highlight">In the U.S., each year, 9 billion “broiler” (baby) chickens, both males and females,
               are raised and killed for food. Worldwide over 50 billion chickens are now being slaughtered every year.
              </div></h3>
              

            </div>
          <div id="bottomRight">
            <button id="backToMenu" onclick="clickHandler(this.id);">Go Back</button>
          </div>
        </div>


     </div>

  </body>
</html>


